<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Neue Reservierung</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h3>Neue Reservierung erfassen</h3>


    <form th:action="@{/reservation/add}" method="post" class="form">

        <label>Patient</label>
        <select name="patientId" class="form-control" style="margin-bottom:15px;" required>
            <option value="">Patient wählen</option>
            <option th:each="p : ${patients}" th:value="${p.id}"
                    th:text="${p.vorname} + ' ' + ${p.nachname}"
                    th:selected="${p.id} == ${preselectedPatientId}"></option>
        </select>

        <label>Gerät</label>
        <select name="deviceId" class="form-control" style="margin-bottom:15px;" required>
            <option value="">Gerät wählen</option>
            <option th:each="d : ${devices}" th:value="${d.id}" th:text="${d.bezeichnung} + ' (' + ${d.geraetetyp} + ', ' + ${d.standort} + ')' "></option>
        </select>

        <label>Körperregion</label>
        <select name="bodyRegionId" class="form-control" style="margin-bottom:15px;" required>
            <option value="">Region wählen</option>
            <option th:each="r : ${regions}" th:value="${r.id}" th:text="${r.description}"></option>
        </select>

        <label>Startzeit</label>
        <input type="datetime-local" name="startTimeStr" class="form-control" style="margin-bottom:15px;" required />

        <label>Endzeit</label>
        <input type="datetime-local" name="endTimeStr" class="form-control" style="margin-bottom:15px;" required />

        <label>Kommentar</label>
        <textarea name="comment" class="form-control" rows="3" style="margin-bottom:15px;"></textarea>

        <input type="submit" class="form-control btn btn-primary" value="Reservierung speichern">
    </form>
    <p style="margin-top:10px;"><a th:href="@{/patient/list}">zurück zur Patientenliste</a></p>
    <p style="margin-top:10px;"><a th:href="@{/reservation/list}">zurück zur Reservierungsliste</a></p>


</div>
</body>
</html>
