<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Patient Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Patientendetails</h2>
    <div th:if="${patient}">
        <p><strong>ID:</strong> <span th:text="${patient.id}"></span></p>
        <p><strong>SVNR:</strong> <span th:text="${patient.svnr}"></span></p>
        <p><strong>Vorname:</strong> <span th:text="${patient.vorname}"></span></p>
        <p><strong>Nachname:</strong> <span th:text="${patient.nachname}"></span></p>
        <p><strong>Geschlecht:</strong> <span th:text="${patient.gender}"></span></p>
        <p><strong>Geburtsdatum:</strong> <span th:text="${patient.birth}"></span></p>

        <p>
            <a th:href="@{/reservation/add(patientId=${patient.id})}">Neue Reservierung für diesen Patienten</a>
        </p>
    </div>
    <p><a href="/patient/list">Zurück zur Liste</a></p>
</div>
</body>
</html>
