<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>svnr</th>
                <th>vorname</th>
                <th>nachname</th>
                <th>gender</th>
                <th>birth</th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${patients}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.svnr}"></td>
                <td th:text="${p.vorname}"></td>
                <td th:text="${p.nachname}"></td>
                <td th:text="${p.gender}"></td>
                <td th:text="${p.birth}"></td>
                <td>
                    <a th:href="@{/reservation/add(patientId=${p.id})}">Reservieren</a>
                </td>

            </tr>
        </tbody>

    </table>

    <p>
        <a href="/patient/add">Neuer Patient</a>
    </p>
    <p>
        <a href="/reservation/list">Reservierungs-Liste</a>
    </p>
</div>
</body>
</html>